<h1>Hola Mundo</h1>

<table>
    <thead>
      <tr>
        <th>Título</th>
        <th>Precio</th>
        <th>Rating</th>
        <th>Nº de Reseñas</th>
        <th>Disponibilidad</th>
        <th>Ofertantes</th>
        <th>Nº vendidos</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <td>{{ product.title }}</td>
          <td>{{ product.price }} {{ product.currency }}</td>
          <td>{{ product.rating }}</td>
          <td>{{ product.num_ratings }}</td>
          <td>{{ product.availability }}</td>
          <td>{{ product.offers }}</td>
          <td>{{ product.sales }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>